.show {
  &__title {  
    @extend %title-style;
  }
}

.card {
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  margin-top: $gutter-lg;
  padding: $gutter-lg;
  width: 100%;

  &__rule {
    border-top: 1px solid $gray;
    margin: $gutter-lg 0;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  &__line {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.personal,
.contact {
  flex-grow: 1;
}

.actions {
  align-self: flex-end;

  &__button {
    @include btn-style(inline-block, 10px 20px, 16px);
  
    color: $white;
    cursor: pointer;
  
    &--edit {
      background: $blue;
  
      &:hover {
        background: rgba($blue, 0.7);
      }
    }
  
    &--delete {
      background: $red;
  
      &:hover {
        background: rgba($red, 0.7);
      }
    }
  }
}
