.register {
  &__title {
    @extend %title-style;
  }

  &__form {
    margin: 0 auto;
    padding: 30px;
    width: 100%;
  
    @include breakpoint(md) {
      width: 80%;
    }
  
    @include breakpoint(lg) {
      width: 65%;
    }
  
    @include breakpoint(xl) {
      width: 50%;
    }
  }

  &__send {
    @include btn-style;

    @include smooth-transition(background);

    background: $blue;
    color: $white;
    cursor: pointer;
    margin-top: $gutter-xl;
    width: 100%;

    &:hover {
      @include smooth-transition(background);

      background: rgba($blue, 0.7);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-top: $gutter-xl;
  position: relative;

  &:nth-of-type(3),
  &:nth-of-type(4) {
    height: 78px;
  }

  &__label {
    bottom: 13px;
    font-size: 30px;
    color: $light-gray;;
    padding-left: 10px;
    position: absolute;
  }

  &__input {
    @include smooth-transition(border-bottom);

    background: transparent;
    border: none;
    border-bottom: 2px solid $black;
    height: 60px;
    font-size: 25px;
    padding: 0 10px;
    width: 100%;
    z-index: 2;
    
    &:focus {
      @include smooth-transition(all);

      border-bottom: 2px solid $blue;
      outline: none;

      + label {
        @include smooth-transition(all);
        bottom: 50px;
        font-size: 20px;
      }
    }

    &:not(:placeholder-shown) {
      + label {
        @include smooth-transition(all);

        bottom: 50px;
        font-size: 20px;
      }
    }
   
    &--error {
      border-bottom: 2px solid $red;

      &:focus{
        border-bottom: 2px solid $red;
      }
    }
  }

  &__error {
    color: $red;
    margin-top: 5px;
    padding-left: 10px;
    
    &--hidden {
      visibility: hidden;
    }
  }
}
