* {
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}

input::-webkit-input-placeholder {
  opacity: 0;
}

input::-moz-placeholder { 
  opacity: 0;
}

input:-ms-input-placeholder { 
  opacity: 0;
}

input:-moz-placeholder {
  opacity: 0;
}
