// PROJECT COLORS
$red: #eb4a46;

$blue: #00c8b3;

$gray: #dddcdc;
$light-gray: #efeeed;
$dark-gray: #333333;

$almost-white: #f6f6f6;
$white: #ffffff;

$black: #000000;

// PROJECT SPACING
$gutter-xs: 5px;
$gutter-sm: 10px;
$gutter-md: 15px;
$gutter-lg: 20px;
$gutter-xl: 30px;

// COMPONENTS PATTERN
@mixin btn-style($display: block, $padding: 20px, $font-size: 30px) {
  display: $display;
  border: none;
  border-radius: 50px;
  font-size: $font-size;
  font-weight: 600;
  padding: $padding;
}

@mixin smooth-transition($property) {
  transition: $property 0.2s ease-in;
}

%title-style {
  color: $blue;
  font-size: 32px;
  margin-top: $gutter-xl;
  text-align: center;
}